body {
    background-color: thistle;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.centerText {
    text-align: center;
}

.centerContent {
    display: block;
    margin: 0 auto;
}

.underline {
    text-decoration: underline;
}

#profile {
    width: 30vw;
    margin-top: 30px;
}

#home {
    width: 50vw;
    margin-top: 30px;
}

#laptop_annie, #headbutt_annie_laptop {
    max-width: 30vw;
    max-height: 100%;
}

.container {
    margin-top: 50px;
}

.upload {
    margin-top: 100px;
}
